In [41]:
# import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy import stats
import datetime

In [42]:
# Read in data files
uber_raw_janjune15_df = pd.read_csv('../uber-raw-data-janjune-15.csv')

In [43]:
# rename date/ time header to match other files
uber_raw_janjune15_df = uber_raw_janjune15_df.rename(columns={'Pickup_date': 'Date/Time'})

uber_raw_janjune15_df.head()

  Dispatching_base_num            Date/Time Affiliated_base_num  locationID
0               B02617  2015-05-17 09:47:00              B02617         141
1               B02617  2015-05-17 09:47:00              B02617          65
2               B02617  2015-05-17 09:47:00              B02617         100
3               B02617  2015-05-17 09:47:00              B02774          80
4               B02617  2015-05-17 09:47:00              B02617          90

In [44]:
# convert to datetime object
uber_raw_janjune15_df['Date/Time'] = pd.to_datetime(uber_raw_janjune15_df['Date/Time'])

In [46]:
# append new 'Month' column for categorization
uber_raw_janjune15_df['Month'] = uber_raw_janjune15_df['Date/Time'].apply(lambda x: x.month)

In [52]:

# filter into specific months and upload csv
uber_raw_jan15_df = uber_raw_janjune15_df[uber_raw_janjune15_df['Month'] == 1]
uber_raw_jan15_1_df = uber_raw_jan15_df.iloc[:int(len(uber_raw_jan15_df)/2), :]
uber_raw_jan15_2_df = uber_raw_jan15_df.iloc[int(len(uber_raw_jan15_df)/2):, :]
uber_raw_jan15_1_df.to_csv("Data/uber-raw-data-jan15-1.csv")
uber_raw_jan15_2_df.to_csv("Data/uber-raw-data-jan15-2.csv")

uber_raw_feb15_df = uber_raw_janjune15_df[uber_raw_janjune15_df['Month'] == 2]
uber_raw_feb15_1_df = uber_raw_feb15_df.iloc[:int(len(uber_raw_feb15_df)/2), :]
uber_raw_feb15_2_df = uber_raw_feb15_df.iloc[int(len(uber_raw_feb15_df)/2):, :]
uber_raw_feb15_1_df.to_csv("Data/uber-raw-data-feb15-1.csv")
uber_raw_feb15_2_df.to_csv("Data/uber-raw-data-feb15-2.csv")

uber_raw_mar15_df = uber_raw_janjune15_df[uber_raw_janjune15_df['Month'] == 3]
uber_raw_mar15_1_df = uber_raw_mar15_df.iloc[:int(len(uber_raw_mar15_df)/2), :]
uber_raw_mar15_2_df = uber_raw_mar15_df.iloc[int(len(uber_raw_mar15_df)/2):, :]
uber_raw_mar15_1_df.to_csv("Data/uber-raw-data-mar15-1.csv")
uber_raw_mar15_2_df.to_csv("Data/uber-raw-data-mar15-2.csv")

uber_raw_apr15_df = uber_raw_janjune15_df[uber_raw_janjune15_df['Month'] == 4]
uber_raw_apr15_1_df = uber_raw_apr15_df.iloc[:int(len(uber_raw_apr15_df)/2), :]
uber_raw_apr15_2_df = uber_raw_apr15_df.iloc[int(len(uber_raw_apr15_df)/2):, :]
uber_raw_apr15_1_df.to_csv("Data/uber-raw-data-apr15-1.csv")
uber_raw_apr15_2_df.to_csv("Data/uber-raw-data-apr15-2.csv")

uber_raw_may15_df = uber_raw_janjune15_df[uber_raw_janjune15_df['Month'] == 5]
uber_raw_may15_1_df = uber_raw_may15_df.iloc[:int(len(uber_raw_may15_df)/2), :]
uber_raw_may15_2_df = uber_raw_may15_df.iloc[int(len(uber_raw_may15_df)/2):, :]
uber_raw_may15_1_df.to_csv("Data/uber-raw-data-may15-1.csv")
uber_raw_may15_2_df.to_csv("Data/uber-raw-data-may15-2.csv")

uber_raw_jun15_df = uber_raw_janjune15_df[uber_raw_janjune15_df['Month'] == 6]
uber_raw_jun15_1_df = uber_raw_jun15_df.iloc[:int(len(uber_raw_jun15_df)/2), :]
uber_raw_jun15_2_df = uber_raw_jun15_df.iloc[int(len(uber_raw_jun15_df)/2):, :]
uber_raw_jun15_1_df.to_csv("Data/uber-raw-data-jun15-1.csv")
uber_raw_jun15_2_df.to_csv("Data/uber-raw-data-jun15-2.csv")