In [43]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress

uber_raw_df = pd.read_csv('uberCSV/uber-raw-data-apr14.csv')

weather_df = pd.read_csv('Data/NewYorkWeatherData_2014_2015.csv')

In [46]:
uber_raw_df[['Date', 'Time']] = uber_raw_df['Date/Time'].str.split(" ", expand = True)

uber_df = uber_raw_df[['Date', 'Time', 'Lat', 'Lon']]

fixed_dates = pd.to_datetime(uber_df['Date'])

uber_df['Date'] = fixed_dates

uber_df['Time'] = pd.to_datetime(uber_df['Time'], infer_datetime_format = True)

uber_df['Time'] = uber_df['Time'].astype(str)

uber_df[['WrongDate', 'Time']] = uber_df['Time'].str.split(" ", expand = True)

uber_fixed_df = uber_df[['Date', 'Time', 'Lat', 'Lon']]

uber_fixed_df.head()

C:\Users\marcu\.conda\envs\pythonbeta\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\marcu\.conda\envs\pythonbeta\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\marcu\.conda\envs\pythonbeta\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\marcu\.conda\envs\pythonbeta\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

        Date      Time      Lat      Lon
0 2014-04-01  00:11:00  40.7690 -73.9549
1 2014-04-01  00:17:00  40.7267 -74.0345
2 2014-04-01  00:21:00  40.7316 -73.9873
3 2014-04-01  00:28:00  40.7588 -73.9776
4 2014-04-01  00:33:00  40.7594 -73.9722

In [45]:
uber_fixed_df.groupby(['Date', 'Time']).agg({'Lat': ['count']})

                      Lat
                    count
Date       Time
2014-04-01 00:00:00     3
           00:01:00     1
           00:02:00     3
           00:03:00     2
           00:04:00     1
...                   ...
2014-04-30 23:55:00    13
           23:56:00    13
           23:57:00    14
           23:58:00     5
           23:59:00     6

[41999 rows x 1 columns]

In [47]:
weather_df = weather_df[['dt_iso','temp','feels_like']]

weather_df[['Date', 'Time', 'Not sure', 'Timezone']] = weather_df['dt_iso'].str.split(" ", expand = True)

weatherfix_df = weather_df[['Date','Time', 'temp', 'feels_like']]

weatherfix_df.head()

#weather_df = weather_df[['Date', 'Time', 'temp', 'feels_like']]

         Date      Time   temp  feels_like
0  2014-01-01  00:00:00  31.95       22.98
1  2014-01-01  01:00:00  30.63       21.88
2  2014-01-01  02:00:00  30.06       22.44
3  2014-01-01  03:00:00  28.51       20.55
4  2014-01-01  04:00:00  27.57       20.21

In [54]:
combined_df = pd.merge(uber_df, weather_df, on = 'Date', how= 'inner')

ValueError: You are trying to merge on datetime64[ns] and object columns. If you wish to proceed you should use pd.concat